[Unit]
Description=Celery instance to serve yolo_demo
After=network.target

[Service]
User=<username>
Group=<username>
WorkingDirectory=/home/<username>/fastapi_demo/api/
Environment="PATH=/home/<username>/.pyenv/versions/yolodemo/bin"
ExecStart=/home/<username>/.pyenv/versions/yolodemo/bin/celery -A celery_conf worker --loglevel=info 
ExecStartPost=/home/<username>/.pyenv/versions/yolodemo/bin/celery -A celery_conf control enable_events

[Install]
WantedBy=multi-user.target
